doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="")
        meta(name="author", content="christian.velez5@upr.edu")

        title= head_title

        script(src="/static/jquery/dist/jquery.min.js")
        script(src="/socket.io/socket.io.js")

        link(href="/static/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="/static/css/simple-sidebar.css" rel="stylesheet")
        link(href="/static/css/first-page.css" rel="stylesheet")
        link(href="/static/css/games-page.css" rel="stylesheet")

    body
        if toggled
            #wrapper.toggled
                #sidebar-wrapper!= sidebar_content
                #page-content-wrapper!= content
        else
            #wrapper
                #sidebar-wrapper!= sidebar_content
                #page-content-wrapper!= content

        script(src="/static/html5shiv/dist/html5shiv.min.js")
        script(src="/static/respond/dest/respond.min.js")
        script(src="/static/bootstrap/dist/js/bootstrap.min.js")
        script(src="/static/spin.js/spin.min.js")
        script(src="/static/js/init.js")
        script(src="/static/js/client_utils.js")
        != script_hook
